# Timezone
TZ=America/Mexico_City

PUID=1000
PGID=1000

# Path to your media files
MEDIA_SHARE=./data/media
# Path for the config files
BASE_PATH=./data/config

# Torrenting values
QBT_UI_PORT=8080
TORRENTING_PORT=3446 # Comment out if using the gluetun sync mod

# For OpenVPN
VPN_SERVICE_PROVIDER=protonvpn
SERVER_COUNTRIES=Netherlands,Israel,Mexico # The server countries we'll use. They have to be P2P
VPN_PORT_FORWARDING=on
PORT_FORWARD_ONLY=on
# openvpn or wireguard
VPN_TYPE=wireguard
# REPLACE these with your OpenVPN credentials. Use +pmp after your username to use port forwarding
OPENVPN_USER=username
OPENVPN_PASSWORD=password
# Use the same apikey as in gluetun.config.toml
GSP_GTN_API_KEY=6uJppZekz8jvtYcXgPTH3y

# Keep server list updated
UPDATER_PERIOD=24h

# SLSKD network credentials
SLSKD_SLSK_USERNAME=
SLSKD_SLSK_PASSWORD= # openssl rand -hex 32
# WebUI credentials doesn't need to be the same as the network credentials
SLSKD_USERNAME=
SLSKD_PASSWORD=
# For use with soularr
# openssl rand -hex 32
SLSKD_API_KEY=
# https://github.com/slskd/slskd/blob/master/docs/config.md#incomplete-and-downloads
# Directories must exist and be writable by the application;
# the application will not attempt to create them.
SLSKD_DOWNLOADS_DIR=
SLSKD_INCOMPLETE_DIR=
