services:
  #qBittorent - Torrent client to actually download the things
  qbittorrent:
    #image: lscr.io/linuxserver/qbittorrent:14.3.9
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${QBT_UI_PORT}
      - DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest|ghcr.io/t-anc/gsp-qbittorent-gluetun-sync-port-mod:main
      - GSP_GTN_API_KEY=${GSP_GTN_API_KEY}
    volumes:
      - ${BASE_PATH}/qbittorent/config:/config
      - ${MEDIA_SHARE}:/share
      - ./scripts:/scripts
    restart: unless-stopped
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy

  # Gluetun works as a vpn to use with qbittorent
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - VPN_TYPE=${VPN_TYPE}
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - VPN_PORT_FORWARDING=${VPN_PORT_FORWARDING}
      - SERVER_COUNTRIES=${SERVER_COUNTRIES}
      - UPDATER_PERIOD=${UPDATER_PERIOD}
      - PORT_FORWARD_ONLY=${PORT_FORWARD_ONLY}
    volumes:
      - ${BASE_PATH}/gluetun/config:/config
      - ./gluetun-config.toml:/gluetun/auth/config.toml
    restart: unless-stopped
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbt.rule=Host(`qbt.bowline.im`)"
      - "traefik.http.services.qbt.loadbalancer.server.port=${QBT_UI_PORT}"
  slskd:
    image: slskd/slskd:latest
    container_name: slskd
    user: 1000:1000
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SLSKD_SLSK_USERNAME=${SLSKD_SLSK_USERNAME}
      - SLSKD_SLSK_PASSWORD=${SLSKD_SLSK_PASSWORD}
      - SLSKD_USERNAME=${SLSKD_USERNAME}
      - SLSKD_PASSWORD=${SLSKD_PASSWORD}
      - SLSKD_API_KEY=${SLSKD_API_KEY}
      - SLSKD_DOWNLOADS_DIR=${SLSKD_DOWNLOADS_DIR}
      - SLSKD_INCOMPLETE_DIR=${SLSKD_INCOMPLETE_DIR}
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ${BASE_PATH}/slskd/config:/app/data
      - ./data/slskd.yml:/app/slskd.yml
      - ${MUSIC_SHARE}:/share
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.slskd.rule=Host(`slskd.bowline.im`)"
      - "traefik.http.services.slskd.loadbalancer.server.port=5030"
    networks:
      - frontend
      - backend

networks:
  frontend:
    external: true
  backend:
    external: true
