{
  email {$ACME_EMAIL}
  admin localhost:2019
  
  dynamic_dns {
    provider cloudflare {$CLOUDFLARE_API_TOKEN}
    domains {
      bowline.im {
        a hoard adguard
      }
    }
    check_interval 5m
    ip_source https://api.ipify.org
  }
}
