services:
  pinchflat:
    container_name: pinchflat
    image: ghcr.io/kieraneglin/pinchflat:latest
    init: true
    environment:
      TZ: ${TZ}
    volumes:
      - ${CONFIG_PATH}:/config
      - ${DOWNLOADS_PATH}:/downloads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=8945"
      - "traefik.http.routers.${SUBDOMAIN}.middlewares=oidc-auth"
      - "docker-volume-backup.stop-during-backup=true"
    networks:
      - frontend
    restart: unless-stopped

networks:
  frontend:
    external: true
