TZ=America/Mexico_City
CONFIG_PATH=./data
PUID=1000
PGID=1000

SUBDOMAIN=mealie

POSTGRES_DB=mealie
POSTGRES_USER=mealie
POSTGRES_PASSWORD=changeme

MEALIE_OIDC_CLIENT_ID=
MEALIE_OIDC_CLIENT_SECRET=
MEALIE_OIDC_ADMIN_GROUP=admin

# https://docs.mealie.io/documentation/getting-started/installation/backend-config/#email
SMTP_HOST=
SMTP_PORT=
SMTP_FROM_EMAIL=
SMTP_USER=
SMTP_PASSWORD=
