# https://www.navidrome.org/docs/usage/configuration-options/#available-options
TZ=America/Mexico_City
SUBDOMAIN=music

# Path to your media files
MEDIA_SHARE=/mnt/media/share
BASE_PATH=./data/config
