services:
  navidrome:
    container_name: navidrome
    image: deluan/navidrome:latest
    restart: unless-stopped
    env_file:
      - .env
    environment:
      ND_BASEURL: https://${SUBDOMAIN}.bowline.im
      TZ: ${TZ}
    volumes:
      - ${BASE_PATH}/data:/data
      - ${MEDIA_SHARE}/media/music:/music:ro
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=4533"
      - "docker-volume-backup.stop-during-backup=true"

  #Lidarr - Used to download music
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    user: 1000:1000
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${BASE_PATH}/lidarr/config:/config
      - ${MEDIA_SHARE}:/share
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.bowline.im`)"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
    networks:
      - frontend
      - backend

  soularr:
    container_name: soularr
    image: mrusse08/soularr:latest
    hostname: soularr
    restart: unless-stopped
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SCRIPT_INTERVAL=300
    volumes:
      #"You can set /downloads to whatever you want but will then need to change the Slskd download dir in your config file"
      - ${MEDIA_SHARE}:/share
      #Select where you are storing your config file.
      #Leave "/data" since thats where the script expects the config file to be
      - ${BASE_PATH}/soularr:/data
      - ./data/soularr.ini:/data/config.ini

  slskd:
    image: slskd/slskd:latest
    container_name: slskd
    user: 1000:1000
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - SLSKD_SLSK_USERNAME=${SLSKD_SLSK_USERNAME}
      - SLSKD_SLSK_PASSWORD=${SLSKD_SLSK_PASSWORD}
      - SLSKD_USERNAME=${SLSKD_USERNAME}
      - SLSKD_PASSWORD=${SLSKD_PASSWORD}
      - SLSKD_API_KEY=${SLSKD_API_KEY}
      - SLSKD_DOWNLOADS_DIR=${SLSKD_DOWNLOADS_DIR}
      - SLSKD_INCOMPLETE_DIR=${SLSKD_INCOMPLETE_DIR}
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ${BASE_PATH}/slskd/config:/app/data
      - ./data/slskd.yml:/app/slskd.yml
      - ${MEDIA_SHARE}:/share
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.slskd.rule=Host(`slskd.bowline.im`)"
      - "traefik.http.services.slskd.loadbalancer.server.port=5030"
    networks:
      - frontend
      - backend

  beets:
    image: pspitzner/beets-flask:stable
    container_name: beets
    restart: unless-stopped
    environment:
      - TZ=${TZ}
      - USER_ID=${PUID}
      - GROUP_ID=${PGID}
    volumes:
      - ${BASE_PATH}/beets:/config
      - ./data/beets/config.yaml:/config/beets/config.yaml
      - ./data/beets-flask/config.yaml:/config/beets-flask/config.yaml
      - ${MEDIA_SHARE}/media/music:${MEDIA_SHARE}/media/music:rw
      - ${MEDIA_SHARE}/media/music-inbox:${MEDIA_SHARE}/media/music-inbox:rw
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beets.rule=Host(`beets.bowline.im`)"
      - "traefik.http.services.beets.loadbalancer.server.port=5001"
    networks:
      - frontend

  lrclib:
    image: leshicodes/lrclib-fetcher:0.0.2
    container_name: lrclib
    volumes:
      - ${MEDIA_SHARE}/media/music:/music:rw
    command: /music --recursive --batch-size 10 --delay 1000 --prefer-synced
    profiles:
      - lyrics

networks:
  frontend:
    external: true
  backend:
    external: true
