services:
  forgejo:
    image: codeberg.org/forgejo/forgejo:11
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=db:5432
      - FORGEJO__database__NAME=${DB_NAME}
      - FORGEJO__database__USER=${DB_USER}
      - FORGEJO__database__PASSWD=${DB_PWD}
      - FORGEJO__oauth2_client__ENABLE_AUTO_REGISTRATION=${ENABLE_AUTO_REGISTRATION}
      - FORGEJO__openid__ENABLE_OPENID_SIGNIN=${ENABLE_OPENID_SIGNIN}
      - FORGEJO__webhook__ALLOWED_HOST_LIST=${ALLOWED_HOST_LIST}
    restart: unless-stopped
    networks:
      - forgejo
      - frontend
    volumes:
      - ${CONFIG_PATH}/app:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "222:22"
    depends_on:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=3000"

  db:
    image: postgres:14
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PWD}
      - POSTGRES_DB=${DB_NAME}
    networks:
      - forgejo
    volumes:
      - ${CONFIG_PATH}/db:/var/lib/postgresql/data

networks:
  forgejo:
  frontend:
    external: true
