# Loads default set of integrations. Do not remove.
default_config:

# HTTP integration for reverse proxy support
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.19.0.0/16 # Docker network range for Traefik

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

automation: !include includes/automations.yaml
script: !include includes/scripts.yaml
scene: !include includes/scenes.yaml

input_boolean:
  follow_up_mode:
    name: Follow Up Mode
    initial: off

input_select:
  focos_cocina_scene:
    name: "Focos Cocina Scene"
    options:
      - "Rest"
      - "Cozy"
      - "Bright"
      - "Relax"
      - "Read"
      - "Motown"
    initial: "Rest"
    icon: mdi:lightbulb-group

  focos_oficina_scene:
    name: "Focos Oficina Scene"
    options:
      - "Relax"
      - "Motown"
      - "Tokyo"
      - "Energize"
      - "Ruby glow"
      - "Rio"
      - "Soho"
      - "Amethyst valley"
    initial: "Relax"
    icon: mdi:lightbulb-group

prometheus:
