services:
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
    env_file:
      - ./.env
    volumes:
      - ${CONFIG_PATH}/home-assistant/config:/config
      - ${CONFIG_PATH}/home-assistant/backups:/config/backups
      - ./includes:/config/includes
      - ./configuration.yaml:/config/configuration.yaml
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    devices:
      # for USB devices (Zigbee/Z-Wave sticks)
      - /dev/ttyUSB0:/dev/ttyUSB0
    ports:
      # Local access port for device discovery and setup
      - "8123:8123"
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=8123"
      - "docker-volume-backup.stop-during-backup=true"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  # python-matter-server
  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    container_name: matter-server
    restart: unless-stopped
    # Required for mDNS to work correctly
    network_mode: host
    security_opt:
      # Needed for Bluetooth via dbus
      - apparmor:unconfined
    volumes:
      # Create an .env file that sets the USERDIR environment variable.
      - ${CONFIG_PATH}/matter-server/data:/data
      # Required for Bluetooth via D-Bus
      - /run/dbus:/run/dbus:ro
    # If you adjust command line, make sure to pass the default CMD arguments too:
    command: --storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0

networks:
  frontend:
    external: true
  backend:
    external: true
