services:
  homeassistant:
    container_name: homeassistant
    image: homeassistant/home-assistant:stable
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
    env_file:
      - ./.env
    volumes:
      - ${CONFIG_PATH}/home-assistant/config:/config
      - ${CONFIG_PATH}/home-assistant/backups:/config/backups
      - ./includes:/config/includes
      - ./configuration.yaml:/config/configuration.yaml
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    # devices:
    # for USB devices (Zigbee/Z-Wave sticks)
    # - /dev/ttyUSB0:/dev/ttyUSB0
    ports:
      # Local access port for device discovery and setup
      - "8123:8123"
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.${DOMAIN}`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=8123"
      - "docker-volume-backup.stop-during-backup=true"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  # python-matter-server
  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    container_name: matter-server
    restart: unless-stopped
    # Required for mDNS to work correctly
    network_mode: host
    security_opt:
      # Needed for Bluetooth via dbus
      - apparmor:unconfined
    volumes:
      # Create an .env file that sets the USERDIR environment variable.
      - ${CONFIG_PATH}/matter-server/data:/data
      # Required for Bluetooth via D-Bus
      - /run/dbus:/run/dbus:ro
    # If you adjust command line, make sure to pass the default CMD arguments too:
    command: --storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0

  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto:2
    restart: unless-stopped
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ${CONFIG_PATH}/mosquitto/data:/mosquitto/data
      - ${CONFIG_PATH}/mosquitto/log:/mosquitto/log
    ports:
      - "1883:1883"
    networks:
      - backend
    labels:
      - "docker-volume-backup.stop-during-backup=true"

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt
    depends_on:
      - mosquitto
    restart: unless-stopped
    environment:
      TZ: ${TZ}
    env_file:
      - ./.env
    volumes:
      - ${CONFIG_PATH}/zigbee2mqtt/data:/app/data
      - ./zigbee2mqtt-configuration.yaml:/app/data/configuration.yaml
      - /run/udev:/run/udev:ro
    ports:
      - "8124:8080"
    networks:
      - frontend
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.zigbee2mqtt.rule=Host(`zigbee2mqtt.${DOMAIN}`)"
      - "traefik.http.services.zigbee2mqtt.loadbalancer.server.port=8080"
      - "traefik.http.routers.zigbee2mqtt.middlewares=oidc-auth"
      - "docker-volume-backup.stop-during-backup=true"

networks:
  frontend:
    external: true
  backend:
    external: true
