TZ=America/Mexico_City
CONFIG_PATH=./data

SUBDOMAIN=rss
MINIFLUX_SUBDOMAIN=miniflux

POSTGRES_DB=miniflux
POSTGRES_USER=miniflux
POSTGRES_PASSWORD=changeme

MINIFLUX_OIDC_CLIENT_ID=
MINIFLUX_OIDC_CLIENT_SECRET=
