services:
  calibre-web:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
    volumes:
      - ${CONFIG_PATH}:/config
      - ${MEDIA_SHARE}/media/books/calibre:/calibre-library
      - ${MEDIA_SHARE}/media/books/cwa-book-ingest:/cwa-book-ingest
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${CALIBRE_WEB_SUBDOMAIN}.rule=Host(`${CALIBRE_WEB_SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${CALIBRE_WEB_SUBDOMAIN}.loadbalancer.server.port=8083"
      - "docker-volume-backup.stop-during-backup=true"

      - frontend

  bookdl:
    image: ghcr.io/calibrain/calibre-web-automated-book-downloader:latest
    container_name: bookdl
    environment:
      FLASK_PORT: 8084
      FLASK_DEBUG: false
      CLOUDFLARE_PROXY_URL: http://cloudflarebypassforscraping:8000
      INGEST_DIR: /cwa-book-ingest
      BOOK_LANGUAGE: en
      AA_DONATOR_KEY: ${AA_DONATOR_KEY}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8084/request/api/status"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 5s
    restart: unless-stopped
    volumes:
      - ${MEDIA_SHARE}/media/books/cwa-book-ingest:/cwa-book-ingest
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${CALIBRE_WEB_DL_SUBDOMAIN}.rule=Host(`${CALIBRE_WEB_DL_SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${CALIBRE_WEB_DL_SUBDOMAIN}.loadbalancer.server.port=8084"
      - "traefik.http.routers.${CALIBRE_WEB_DL_SUBDOMAIN}.middlewares=oidc-auth"

  cloudflarebypassforscraping:
    container_name: cloudflarebypassforscraping
    image: ghcr.io/sarperavci/cloudflarebypassforscraping:latest
    restart: unless-stopped

  calibre-wife:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-wife
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      DOCKER_MODS: linuxserver/mods:universal-calibre #optional
    volumes:
      - ${CONFIG_PATH_WIFE}:/config
      - ${MEDIA_SHARE}/media/books:/books
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${CALIBRE_WEB_SUBDOMAIN_WIFE}.rule=Host(`${CALIBRE_WEB_SUBDOMAIN_WIFE}.bowline.im`)"
      - "traefik.http.services.${CALIBRE_WEB_SUBDOMAIN_WIFE}.loadbalancer.server.port=8083"
    networks:
      - frontend

networks:
  frontend:
    external: true
