services:
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:10.11.3
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
      JELLYFIN_PublishedServerUrl: https://${SUBDOMAIN}.bowline.im
      LIBVA_DRIVER_NAME: iHD
      LIBVA_DRIVERS_PATH: /usr/lib/x86_64-linux-gnu/dri
      DOCKER_MODS: linuxserver/mods:jellyfin-opencl-intel
    env_file:
      - ./.env
    volumes:
      - ${CONFIG_PATH}/jellyfin/config:/config
      - ${CONFIG_PATH}/jellyfin/cache:/cache
      - ${MEDIA_SHARE}/media:/share/media
    devices:
      - /dev/dri:/dev/dri
      - /dev/bus/usb:/dev/bus/usb
    networks:
      - frontend
    # Needed for in-home watching (100% local)
    ports:
      - "8096:8096"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${SUBDOMAIN}.rule=Host(`${SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${SUBDOMAIN}.loadbalancer.server.port=8096"

  jellyseerr:
    image: fallenbagel/jellyseerr:preview-OIDC
    container_name: jellyseerr
    environment:
      TZ: ${TZ}
      PUID: ${PUID}
      PGID: ${PGID}
    volumes:
      - ${CONFIG_PATH}/jellyseerr/config:/app/config
      - ${MEDIA_SHARE}:/share #Access to the entire share
    networks:
      - frontend
      - backend
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${JELLYSEER_SUBDOMAIN}.rule=Host(`${JELLYSEER_SUBDOMAIN}.bowline.im`)"
      - "traefik.http.services.${JELLYSEER_SUBDOMAIN}.loadbalancer.server.port=5055"

networks:
  frontend:
    external: true
  backend:
    external: true
