services:
  comfy:
    image: yanwk/comfyui-boot:rocm
    container_name: comfy
    ports:
      - "8188:8188"
    volumes:
      - ${CONFIG_PATH}:/root
    restart: unless-stopped
    networks:
      - backend
    devices:
      - /dev/kfd
      - /dev/dri
    group_add:
      - video
    labels:
      - "docker-volume-backup.stop-during-backup=true"

networks:
  backend:
    external: true
