global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets: []
      scheme: http
      timeout: 10s
      api_version: v2
scrape_configs:
  - job_name: prometheus
    honor_timestamps: true
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets:
          - prometheus:9090

  - job_name: "qbittorrent"
    static_configs:
      - targets:
          - qbittorrent-exporter:17871

  - job_name: "navidrome"
    metrics_path: /metrics
    static_configs:
      - targets:
          - navidrome:4533

  - job_name: "homeassistant"
    scrape_interval: 60s
    metrics_path: /api/prometheus
    # Long-Lived Access Token
    # Generate one in profile > security
    bearer_token: "CHANGE_ME"
    scheme: http
    static_configs:
      - targets: ["homeassistant:8123"]
