services:
  ollama:
    image: ollama/ollama:rocm
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ${CONFIG_PATH}:/root/.ollama
    restart: unless-stopped
    networks:
      - backend
    devices:
      - /dev/kfd
      - /dev/dri
    group_add:
      - video
    labels:
      - "docker-volume-backup.stop-during-backup=true"

networks:
  backend:
    external: true
