# Kiwix Offline Knowledge Base
# https://github.com/kiwix/kiwix-tools/blob/main/docker/server/README.md
# Download ZIM files from: https://download.kiwix.org/zim/

SUBDOMAIN=kiwix
TZ=America/Mexico_City

# Path to ZIM files (can be on a separate drive from configs)
ZIM_PATH=/mnt/media/kiwix
